# Virtual environments
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Pytest
.pytest_cache/

# Migrations cache
*.sqlite3-journal

# Coverage
htmlcov/
.coverage